<mat-sidenav-container fullscreen>

  <mat-sidenav #sidenav>
    <mat-nav-list (click)="sidenav.close()">
      <a mat-list-item routerLink="/auth/login" *ngIf="!(isLoggedIn$ | async)">
        <mat-icon>account_circle</mat-icon>
        <span>Login</span>
      </a>
      <a mat-list-item routerLink="/auth/logout" *ngIf="(isLoggedIn$ | async)">
        <mat-icon>toggle_off</mat-icon>
        <span>Logout</span>
      </a>
      <a mat-list-item routerLink="/shows/latest">
        <mat-icon>view_carousel</mat-icon>
        <span>Latest Shows</span>
      </a>
      <a mat-list-item routerLink="/shows">
        <mat-icon>view_list</mat-icon>
        <span>All Shows</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar color="primary">
    <button class="menu-button" mat-icon-button (click)="sidenav.open('mouse')">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>

  <div class="spinner-container" *ngIf="loading">
    <mat-spinner></mat-spinner>
  </div>

  <router-outlet></router-outlet>

</mat-sidenav-container>
