<mat-sidenav-container fullscreen>

  <mat-sidenav #sidenav>
    <mat-nav-list (click)="sidenav.close()">
      <a mat-list-item routerLink="/shows/latest">
        <mat-icon>library_books</mat-icon>
        <span>Latest Shows</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar color="primary">
    <button class="menu-button" mat-icon-button (click)="sidenav.open('mouse')">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>

  <div class="spinner-container" *ngIf="loading">
    <mat-spinner></mat-spinner>
  </div>

  <router-outlet></router-outlet>

</mat-sidenav-container>
