    <div class="container">

      <p class="h2">Latest Shows</p>

      <mat-grid-list cols="3" rowHeight="700">

        <mat-grid-tile *ngFor="let show of shows$ | async">
          <mat-card class="show-card mat-elevation-z10">
            <mat-card-header>
              <mat-card-title>{{show.title}} <small>{{ show.year }}</small></mat-card-title>
            </mat-card-header>

            <img mat-card-image [src]="'assets/img/'+show.id+'.jpg'">

            <mat-card-content>
              <p [matTooltip]="show.translatedDescription">{{ show.description }}</p>
            </mat-card-content>

            <mat-card-actions class="show-actions">
              <button mat-mini-fab color="primary" [routerLink]="['/shows/' + show.id + '/cast']" matTooltip="Casting">
                <mat-icon>people_alt</mat-icon>
              </button>
              <button mat-mini-fab color="accent" matTooltip="Edit Show">
                <mat-icon class="add-show-btn" (click)="editShow(show)">edit</mat-icon>
              </button>
              <button mat-mini-fab color="" matTooltip="Translate" [disabled]="canTranslateShow(show)">
                <mat-icon (click)="translateShow(show)">g_translate</mat-icon>
              </button>
            </mat-card-actions>

          </mat-card>
        </mat-grid-tile>

      </mat-grid-list>

    </div>

