<div class="jumbotron">
  <p class="h2">Sample WebApp + IRIS</p>
  <p class="lead">
    This is a simple Angular webapp which uses InterSystems IRIS as backend using REST interfaces.
  </p>
  <p class="center">
    <img src="assets/img/iris-webapp-diagram.png" usemap="#image-map" width="700">
    <map name="image-map">
      <area target="_blank" alt="Interoperability" title="Interoperability" href="http://localhost:52773/csp/myapp/EnsPortal.ProductionConfig.zen?PRODUCTION=App.Prod" coords="397,86,499,184" shape="rect">
      <area target="_blank" alt="Record Mapper" title="Record Mapper" href="http://localhost:52773/csp/myapp/EnsPortal.RecordMapper.zen?MAP=App.RecordMap.NetflixCSV" coords="511,97,641,117" shape="rect">
      <area target="_blank" alt="Messages" title="Messages" href="http://localhost:52773/csp/myapp/EnsPortal.MessageViewer.zen" coords="512,124,642,144" shape="rect">
      <area target="_blank" alt="Rules" title="Rules" href="http://localhost:52773/csp/myapp/EnsPortal.RuleEditor.zen?RULE=App.Rule.RecordRouter" coords="514,149,641,169" shape="rect">
      <area target="_blank" alt="SQL" title="SQL" href="http://localhost:52773/csp/sys/exp/%25CSP.UI.Portal.SQL.Home.zen?$NAMESPACE=MYAPP" coords="396,279,644,390" shape="rect">
      <area target="_blank" alt="IRIS" title="IRIS" href="http://localhost:52773/csp/sys/UtilHome.csp" coords="343,8,497,41" shape="rect">
  </map>

  </p>
  <hr class="my-4">
  <p class="center">
    <a class="btn btn-primary btn-lg" href="https://github.com/intersystems-ib/iris-dev-webapp" role="button">Learn
      more</a>
  </p>
</div>